@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
}

:root {
  --primary-black: #000000; /* Preto */
  --accent-gold: #FFD700; /* Gold */
  --dark-gold: #C0B28A; /* Dark Gold */
  --dark-gray: #1C1C1C; /* Cinza Escuro */
  --charcoal-gray: #333333; /* Cinza carvão */
  --silver: #C0C0C0; /* Prata */

  /* Tipografia */
  --font-body: 'Poppins', sans-serif;
  --font-serif: 'Noto Serif', serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}