.coverage-container {
    width: 100%;
    padding: 2rem 0;
    background-color: var(--dark-gray);
}

.coverage-container h2 {
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-gold);
    gap: 1rem;
}

.coverage-container svg {
    font-size: 62px;
}

@media screen and (max-width: 768px) {
    .coverage-container {
        padding: 1rem;
    }
    
    .coverage-container h2 {
        font-size: 28px;
        gap: .5rem;
        text-align: center;
    }
    
    .coverage-container svg {
        font-size: 62px;
    }
}