.values-container {
    margin: 0 auto;
    background-color: var(--dark-gold);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.values-container h2 {
    font-size: 32px;
    color: var(--dark-gray);
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.values-boxes_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.value-box {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark-gray);
    color: var(--dark-gray);
    padding: 2rem;
    max-width: 25%;
    height: 300px;
}

.box-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.value-box p {
    margin-top: 1rem;
}

/* resolução para notebook */
@media screen and (max-width: 1280px) {
    .values-boxes_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    
    .value-box {
        padding: 2rem;
        max-width: 30%;
        min-height: 400px;
    }
}

@media screen and (max-width: 900px) {
    .values-container {
        margin: 0 auto;
        padding: 2rem 0;
    }
    
    .values-boxes_container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .value-box {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--dark-gray);
        color: var(--dark-gray);
        padding: 2rem;
        max-width: 90%;
        height: auto;
    }
}