.header {
  padding: 2rem 0;
  color: #fff;
  background-image: url('../../assets/texturaAzul.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid var(--accent-gold);
}

.container {
  display: flex;
  justify-content: space-around; /* Ajuste para alinhar o conteúdo em dispositivos móveis */
  max-width: var(--container-max-width);
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  height: 50px;
  width: auto;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-item a {
  color: var(--silver);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-item a:hover {
  color: var(--dark-gold);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--dark-gray);
  list-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
}

.dropdown-item {
  text-align: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.dropdown-item:hover {
  background-color: var(--dark-gold);
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item a {
  color: var(--silver);
  font-weight: 400;
  text-decoration: none;
  display: block;
  padding: 1rem;
  transition: background-color 0.3s ease;
}

.dropdown-item a:hover {
  color: var(--primary-black);
}

.nav-item:hover .dropdown,
.nav-item:focus-within .dropdown {
  display: block;
  opacity: 1;
}

/* Hamburger icon */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 9999;
  width: 33px; 
  height: 25px;
}

.hamburger div {
  display: flex;
  width: 33px;
  height: 3px;
  margin-bottom: 6px;
  position: relative;
  background: var(--silver);
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Animation for hamburger when active */
.hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translateY(-7px);
  position: absolute;
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translateY(5px);
  position: absolute;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {

  .container {
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  /* Menu responsivo */
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
    height: 80vh;
    background-color: var(--dark-gray);
    z-index: 999;
    padding: 10px 0;
    overflow-y: scroll;
  }

  .nav-list.active {
    margin-top: 14px;
    display: flex;
    align-items: center;

    transform: translateX(0);
  }

  .nav-item {
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  }

  .nav-item a {
    padding: 10px;
  }

  .logo {
    height: 30px;
    width: auto;
  }

  /* Dropdown mobile */
  .dropdown {
    position: absolute;
    top: 100%;
    background-color: var(--dark-gray);
    list-style: none;
    display: none;
    opacity: 0;
    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;

    transition: opacity 0.3s ease-in-out;
  }

  .dropdown-item {
    padding: 1rem 2rem;
  }

}
